:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

body {
  background-color: #ffffff;
  color: #000;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 110vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
}

h2{
  font-weight: bold;
}

h3{
  font-weight:bold;
}

#categories{
  border-bottom: 2px solid #000;
  padding: calc(0.5rem + 4px) 1rem;
}

li{
  display: inline;
  list-style: none;
  font-weight:bold;
  font-size:10px;
  padding:45px;
}

#this {
  color: #fff;
  background-color: #373535;
  font-size:11px;
  padding:10px;
  border: 1px solid #000;
  margin-top:50px;
  margin:10px;
}

#lis {
  color: #fff;
  background-color: #000000;
  font-size:11px;
  padding:10px;
  border: 1px solid #000;
  margin-top:50px;
  margin:10px;
}

p{
  color: #313030;
}

#music-color{
  color: #000;
  margin:50px;
}

#dashboard-color{
  color: #000;
  margin:50px;
}

#sport-color{
  color: #000;
  margin:50px;
}

#teatershow-color{
  color: #000;
  margin:50px;
}

#logginn-color{
  color: #000;
  margin:50px;
}

#billettlyst-color{
  color: #000;
  font-size:30px;
  font-weight:bolder;
  margin:50px;
}


#vanlige-button button {
  background-color:#e8e7e7;
  color:#000;
  border: 1px solid #000;
  border-radius: 3px;
  padding:4px;
  margin-left:-650px;
}

#vanlig-button {
  background-color:#e8e7e7;
  color:#000;
  border: 1px solid #000;
  border-radius: 3px;
  padding:4px;
  margin-left:0;
}

#kjop-button {
  color: #fff;
  background-color: #373535;
  font-size:11px;
  padding:10px;
  border: 1px solid #000;
  margin-right:255px;
  margin-left:40px;
  margin-top:-180px;
}

#onskeliste-button {
  color: #fff;
  background-color: #373535;
  font-size:11px;
  padding:10px;
  border: 1px solid #000;
  margin-left: 370px;
}


#kjope-button {
  color: #fff;
  background-color: #373535;
  font-size:11px;
  padding:10px;
  border: 1px solid #000;
  margin-right:310px;
  margin-top:20px;
  margin-bottom:-80px;
}

#onske-button {
  color: #fff;
  background-color: #373535;
  font-size:11px;
  padding:10px;
  border: 1px solid #000;
  margin-left: 370px;
  margin-top: -100px;
  margin-bottom:-80px;
}

#bruker{
    margin-left:-415px;
    margin-bottom:50px;
}

#pass{
    margin-left:-415px;
}

#password{
  background-color: #fff;
  color:#000;
  margin-left:0;
  margin-top:10px;
  border: 1px solid #898888;
  border-radius: 3px;
}

#username{
  background-color: #fff;
  color: #000;
  margin-right:35px;
  margin-top:10px;
  border: 1px solid #898888;
  border-radius: 3px;
}

#dash{
    margin-left:-580px;
    margin-top:25px;

}


img{
  width:20%;
  padding:50px;
  margin:-30px;
  margin-bottom: -65px;
}

#categoryimg{
  width:30%;
  padding:100px;
  margin-bottom: -100px;
}

#categoryerimg{
  width:30%;
  padding:100px;
  margin-bottom: -100px;
}